<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="premiumRemainingSeats">premiumRemainingSeats</label>

              
                <input formControlName="premiumRemainingSeats" type="number" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="premiumRemainingDays">premiumRemainingDays</label>

              
                <input formControlName="premiumRemainingDays" type="number" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="premiumMultiplier">premiumMultiplier</label>

              
                <input formControlName="premiumMultiplier" type="number" step='any' class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="penaltyBuyBack">penaltyBuyBack</label>

              
                <input formControlName="penaltyBuyBack" type="number" step='any' class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="percentResale">percentResale</label>

              
                <input formControlName="percentResale" type="number" step='any' class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="contractId">contractId</label>

              
                <input formControlName="contractId" type="text" class="form-control">
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="premiumRemainingSeats">premiumRemainingSeats</label>

              
                <input [ngModel]="premiumRemainingSeats" formControlName="premiumRemainingSeats" type="number" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="premiumRemainingDays">premiumRemainingDays</label>

              
                <input [ngModel]="premiumRemainingDays" formControlName="premiumRemainingDays" type="number" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="premiumMultiplier">premiumMultiplier</label>

              
                <input [ngModel]="premiumMultiplier" formControlName="premiumMultiplier" type="number" step='any' class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="penaltyBuyBack">penaltyBuyBack</label>

              
                <input [ngModel]="penaltyBuyBack" formControlName="penaltyBuyBack" type="number" step='any' class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="percentResale">percentResale</label>

              
                <input [ngModel]="percentResale" formControlName="percentResale" type="number" step='any' class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="contractId">contractId</label>

              
                <input [ngModel]="contractId"formControlName="contractId" type="text" class="form-control">
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>Contract_100</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">premiumRemainingSeats</th>
            
                <th class="info">premiumRemainingDays</th>
            
                <th class="info">premiumMultiplier</th>
            
                <th class="info">penaltyBuyBack</th>
            
                <th class="info">percentResale</th>
            
                <th class="info">contractId</th>
            
              <th class="info">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.premiumRemainingSeats}}</td>
            
                <td>{{asset.premiumRemainingDays}}</td>
            
                <td>{{asset.premiumMultiplier}}</td>
            
                <td>{{asset.penaltyBuyBack}}</td>
            
                <td>{{asset.percentResale}}</td>
            
                <td>{{asset.contractId}}</td>
            
            <td>
              <button (click)="getForm(asset.contractId);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update Asset</button>

              <button (click)="setId(asset.contractId);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Asset</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
